# HOLDS A SECRET!!!
SIGNOSOFT_API=https://api-test.signosoft.com
SIGNOSOFT_AUTH=https://auth-preprod.signosoft.com
SIGNOSOFT_REALM=test
SIGNOSOFT_CLIENT_ID=app-dev
SIGNOSOFT_USER=
SIGNOSOFT_PASSWORD=
SIGNOSOFT_BASE_URL=https://www.signosoft.com/mobilesdk/
